body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  color: #ad6989;
  font-family: 'Sacramento', cursive;
  font-size: 5.625em;
  margin: 50px auto 0 auto;

}

h2 {
  color: #ad6989;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color:#c060a1;
  font-family: 'Montserrat', sans-serif;
}

p{
    line-height: 2;
}
hr{
  border: dotted #EAF6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}
a{
  color:#c060a1;
  font-family: 'Monsterrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAf6f6;
}

.top-container {
  background-color:#dbc6eb ;
  position: relative;
  padding-top: 50px;

}

.middle-container {
margin: 100px 0;
}

.bottom-container {
background-color: #dbc6eb;
padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 100px;
}

.lessie-img{

  border-radius: 100%;
  width: 10%;
  height: 10%;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.java-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.webdev-img{
width: 25%;
float: right;
margin-left: 30px;
}

.intro{
  width: 30%;
  margin: auto;

}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
	background-color:#c060a1;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	border:1px solid #fafafa;
	display:inline-block;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ad5ead;
}.btn:hover {
	background-color:#8e33b8;
}.btn:active {
	position:relative;
	top:1px;
}
.copyright{
  color: #EAf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.topnav {
  overflow: hidden;
  background-color:#dbc6eb  ;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
